extends ../layout

block styles
  // Default home page
  // <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700' rel='stylesheet'/>
  link(href='http://sailsjs.org/styles/fonts.css', rel='stylesheet')

  //if IE 7
    style.
      .getting-started li{overflow:visible;clear:both}.delete{width:690px}

block body
  .container
    // Static navbar
    .navbar.navbar-default
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Project name
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active
            a(href='#') Link
          li
            a(href='#') Link
          li
            a(href='#') Link
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Dropdown
              b.caret
            ul.dropdown-menu
              li
                a(href='#') Action
              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li.divider
              li.dropdown-header Nav header
              li
                a(href='#') Separated link
              li
                a(href='#') One more separated link
        ul.nav.navbar-nav.navbar-right
          li.active
            a(href='./') Default
          li
            a(href='../navbar-static-top/') Static top
          li
            a(href='../navbar-fixed-top/') Fixed top
      // /.nav-collapse
